/* Default & Mobile View */

* {
    box-sizing:border-box;
    /* border:1px solid red; */
}

body{
    max-width:1280px;
    justify-self: auto;

}

/* Tablet View */

@media (min-width: 768px) {
    main{
        display:flex;
        flex-wrap:wrap;

    }
   .card{
       width:44%;
   } 

}


/* Desktop View */

@media (min-width: 1024px) {
    .card{
        width:30%;
    }
	
}